* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 1100px;
  background: url(../FotoLogo/foto_lg/back_img_1.png) no-repeat ;
  object-fit: cover;
  display: block;
  background-size: cover;
}
.logo {
  font-size: 30px;
  display: block;
  color: white;
  margin-top: 20px;
  font-family: 'roboita';
}
.logo span {
  color: #8db932;
  font-family: 'roboita';
}
.bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 70px;
  margin: 0 auto;
}
.bar-info-communications {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.bar-mail {
  margin-right: 10px;
  color: white;
  display: flex;
  font-family: 'robolig';
}
.bar-phone {
  margin-right: 10px;
  color: white;
  padding-right: 5px;
  display: flex;
  font-family: 'robolig';
}
.bar-time {
  margin-right: 10px;
  color: white;
  display: flex;
  font-family: 'robolig';
}
.bar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bar-mail-icon {
  height: 20px;
  width: 24px;
  margin-right: 5px;

}
.bar-time-icon {
  height: 34px;
  width: 34px;
  margin-right: 5px;
}
.bar-phone-icon {
  height: 24px;
  width: 24px;
  margin-right: 5px;

}
.callme {
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #8db932;
  padding: 5px 20px;
  margin-top: 17px;
  margin-bottom: 10px;
  font-family: 'ptsan';
}


.home_one {
  color: white;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  align-items: center;
  padding-bottom: 220px;
}
.home_one h1 {
  font-weight: 400;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 56px;
  font-family: "roboita";
}
.nav a {
  text-decoration: none;
}
/* Работа переключателя */
#toggle {
  position: absolute;
  left: -100%;
  top: -100%;
}

#toggle:focus ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}

#toggle:checked ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:hover {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .toggle-container .button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(1);
}
#toggle:checked ~ .toggle-container .button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(1);
}
#toggle:checked:focus ~ .toggle-container .button-toggle {
  box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
}
#toggle:checked ~ .nav {
  margin-bottom: 100px;
  
  pointer-events: auto;
  transform: translate(50px, 50px);
}
#toggle:checked ~ .nav .nav-item {
  color: #fff;
  letter-spacing: 0;
  height: 40px;
  line-height: 40px;
  margin-top: 0;
  opacity: 1;
  transform: scaleY(1);
  transition: 0.5s, opacity 0.1s;
  font-family:'robobold';
}
#toggle:checked ~ .nav .nav-item:nth-child(1) {
  transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(1):before {
  transition-delay: 0.15s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2) {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(2):before {
  transition-delay: 0.1s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3) {
  transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(3):before {
  transition-delay: 0.05s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4) {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:nth-child(4):before {
  transition-delay: 0s;
}
#toggle:checked ~ .nav .nav-item:before {
  opacity: 0;
}
#toggle:checked ~ .dummy-content {
  padding-top: 30px;
}
#toggle:checked ~ .dummy-content:before {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Кнопка для переключения */
.button-toggle {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  transition: 0.6s;
}
.button-toggle:before, .button-toggle:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EC7263;
  border-radius: 5px;
  transition: 0.5s;
}
.button-toggle:before {
  transform: translateY(-50%) rotate(45deg) scale(0);
}
.button-toggle:after {
  transform: translateY(-50%) rotate(-45deg) scale(0);
}

/* Меню */
.nav {
  display: inline-block;
  margin: 25px 25px 20px;
  pointer-events: none;
  transition: 0.5s;
}

.nav-item {
  position: relative;
  display: inline-block;
  float: left;
  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: 0.5s, opacity 1s;
}
.nav-item:nth-child(1) {
  transition-delay: 0s;
}
.nav-item:nth-child(1):before {
  transition-delay: 0s;
}
.nav-item:nth-child(2) {
  transition-delay: 0.05s;
}
.nav-item:nth-child(2):before {
  transition-delay: 0.05s;
}
.nav-item:nth-child(3) {
  transition-delay: 0.1s;
}
.nav-item:nth-child(3):before {
  transition-delay: 0.1s;
}
.nav-item:nth-child(4) {
  transition-delay: 0.15s;
}
.nav-item:nth-child(4):before {
  transition-delay: 0.15s;
}
.nav-item:nth-child(1) {
  letter-spacing: -8px;
}
.nav-item:nth-child(2) {
  letter-spacing: -7px;
}
.nav-item:nth-child(n + 4) {
  letter-spacing: -8px;
  margin-top: -7px;
  opacity: 0;
}
.nav-item:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #EC7263;
  transform: translateY(-50%) scaleY(5);
  transition: 0.5s;
}

.home_one span {
  font-weight: 500;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: green;
  font-style: normal;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 51.04%,
    rgba(255, 255, 255, 0) 100%
  );
  font-family: 'robobold';
}
.divzz {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}
.home_two {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.div-two {
  width: 253px;
  height: 237px;
  background-color: rgba(239, 251, 255, 0.5);
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(239, 251, 255, 0.5) 100%
  );
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 8px 16px #e0f5ff;
  font-family: 'robo';
}
.home-icon {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  margin-top: 10px;
}
.home-icon-vector{
  height: 35px;
  width: 38px;
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-top: 5px;
}
.reckt {
  height: 1px;
  width: 90%;
  background-color: #aac8d7;
}
.div-two h2 {
  font-family: 'robo';
}
.div-two h3 {
  margin-top: 5%;
  font-family: 'robolig';
}
.reczero {
  height: 1px;
  width: 100%;
  background-color: #afbfc7;
}
.WR {
  height: 700px;
  background-image: url(../FotoLogo/foto_lg/back_img_2.png);
  object-fit: cover;
  display: block;
  background-size: cover;
}

.WR-one h2 {
  font-weight: 600;
  text-align: center;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 56px;
  color: #000000;
  font-family: 'robolig';
  margin-top: 20pxs;
}
.WR-two {
  display: flex;
  justify-content: space-evenly;
}
.WRf-two {
  width: 165px;
  height: 163px;
  background-color: white;
  border-radius: 20px;
  padding-top: 23px;
  padding-left: 18px;
  box-shadow: 0px 8px 16px #e0f5ff;
  margin-top: 40px;
}
.WRd1-two {
  background-image: url(../FotoLogo/foto_div/WR1.png);
  height: 90px;
  width: 128px;
  border-radius: 10px;
  background-color: thistle;
}
.WRd2-two {
  background-image: url(../FotoLogo/foto_div/WR2.png);
  height: 90px;
  width: 128px;
  border-radius: 10px;
  background-color: thistle;
}
.WRd3-two {
  background-image: url(../FotoLogo/foto_div/WR3.png);
  height: 90px;
  width: 128px;
  border-radius: 10px;
  background-color: thistle;
}
.WRd4-two {
  background-image: url(../FotoLogo/foto_div/WR4.png);
  height: 90px;
  width: 128px;
  border-radius: 10px;
  background-color: thistle;
}
.WR-two h2 {
  padding-right: 10px;
  font-weight: 100;
  text-align: center;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 46px;
  color: #000000;
  font-family: 'robo';
}
.WR-nx {
  display: flex;
  justify-content: center;
}
.WR-next {
  font-size: 26px;
  font-weight: 40;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #8db932;
  padding: 15px 40px 15px 40px;
  margin-top: 40px;
  margin-bottom: 10px;
  transition-duration: 1.4s;
  font-family: 'robobold';
}
.WR-nx a:hover {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 20px #8cb932;
}
.ZR {
  height: 1990px;
  background-color: #f0f8fd;
  object-fit: cover;
  display: block;
  background-size: cover;
}

.ZT-one h2 {
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 56px;
  font-family: "robo";
}
.ZT-one h3 {
  font-weight: 100;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: "robo";
  padding: 10px 180px;
}
.ZTi {
  width: 163px;
  height: 163px;
  background-image: url(../FotoLogo/foto_div/ZTimg.png);
  margin: 20px 40px;
}
.ZT-BIG {
  display: flex;
  justify-content: space-evenly;
  padding-right: 60px;
  padding-top: 40px;
}
.ZT-small {
  height: 550px;
  width: 250px;
  border-radius: 10px;
  background-color: #d1e7f5;
  padding: 5px;
}
.ZT-all {
  font-size: 26px;
  font-weight: 40;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid 1px gray;
  font-family: 'robo';
}
.ZT-pay {
  font-size: 26px;
  font-weight: 40;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #8db932;
  padding: 10px 46px;
  transition-duration: 0.5s;
  font-family: 'robo';
}
.ZT-small h2 {
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'robo';
}
.ZT-small h4 {
  font-weight: 200;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'robo';
}

.ZT-small li {
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'robo';
  text-decoration: none;
  list-style: none;
}
.ZT-small h3 {
  font-weight: 100;
  font-size: 23px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'robo';
}
.ZTR h5 {
  font-weight: 100;
  font-family: 'robo';
  font-size: 10px;

}
.checked {
  width: 8px;
  height: 8px;
  margin-right: 3px;
}
.checked2 {
  width: 13px;
  height: 13px;
  margin-right: 6px;
}
.ZTR {
  font-weight: 100;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  background-color: #ffd6d6;
  height: 24px;
  width: 208px;
  border-radius: 20px;
  padding: 4px, 10px, 4px, 10px;
  padding-left: 20px;
  margin-left: 20px;
}
.ZT-small span {
  text-decoration: line-through;
  color:  #D02726;
  font-weight: 50;
}
.zt-al {
  padding-left: 30px;
  padding-top: 20px;
  transition-duration: 0.5s;
}
.zt-al a:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.zt-py a:hover {
  color: white;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 20px #8cb932;
  
}
.zt-py {
  padding-left: 30px;
  padding-top: 31px;
  width: 211px;
  height: 39px;
}
.Proces {
  height: 800px;
  background-image: url(../FotoLogo/foto_lg/back_img_3.png);
  object-fit: cover;
  display: block;
  background-size: cover;

}
.Proces-img {
  width: 385px;
  height: 600px;
  margin-left: 120px;
  margin-top: 89px;
}
.Proces-title {
  display: flex;
  justify-content: space-evenly;
  font-weight: 100;
  font-size: 33px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 20px;
  line-height: 46px;
  font-family: 'robocon';
}
.Proces__list {
  margin-top: 30px;
  font-weight: 100;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 16px;
  font-family: "robocon";
  padding: 10px 120px;
  color: #fff;
  list-style: none;
}
.Proces__list-item span {
  color: #FF8D8D;
  text-decoration: line-through
  ;
}
.Proces-Con {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ProcesP1 {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  padding: 10px 120px;
  color: #fff;
  font-family: 'robo';
}
.ProcesP2 {
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  padding: 10px 120px;
  color: #fff;
  font-family: 'robo';
}
.standart {
  height: 600px;
  background-color: #f0f8fd;
  object-fit: cover;
  display: block;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.standart-div1 {
  width: 1000px;
  height: 270px;
  background-color: white;
  border-radius: 30px;
  /* margin-left : 200px; */
  border: 1px solid;
  object-fit: cover;
  display: block;
  background-size: cover;
}
.standart-divB {
  display: flex;
  justify-content: space-evenly ;
  padding-top: 30px;
}
.standart-small {
  display: flex;
  width: 324px;
  height: 72px;
}
.standart-div1 h2 {
  display: flex;
  text-align: center ;
  justify-content: space-evenly ;
  font-weight: 100;
  font-family: 'robocon';
}
.nomb  {
  text-align: center ;
  width: 52px;
  height: 52px;
  font-size: 23px;
  color: #45B2EA;
  padding-right: 30px  ;
  padding-left: 20px ;
  padding-bottom: 20px;
  padding-top: 10px;
  border-radius: 20px;
  background-color:linear-gradient(180deg, #FFFFFF 0%, rgba(239, 251, 255, 0.5) 100%);
  box-shadow: 0px 8px 16px #E0F5FF;
  font-family:'ptsan' ;

}
.standart-small h3 {
  font-weight: 100;
  font-size: 14px;
  color: black;
  padding: 5px 20px ;
}
@font-face  {
  font-family: 'robocon';
  src: url(../font/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'ptsan';
  src: url(../font/PT_Sans_Narrow/PTSansNarrow-Regular.ttf);
}
@font-face {
  font-family: 'robo';
  src: url(../font/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'roboita';
  src: url(../font/Roboto_Condensed/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: 'robobold';
  src: url(../font/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: 'roboitabold';
  src: url(../font/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: 'robolig';
  src: url(../font/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'roboitalig';
  src: url(../font/Roboto_Condensed/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: 'rewita';
  src: url(../font/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'rew';
  src: url(../font/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: '';
  src: url();
}
@font-face {
  font-family: '';
  src: url();
}
@font-face {
  font-family: '';
  src: url();
}
@font-face {
  font-family: '';
  src: url();
}
@font-face {
  font-family: '';
  src: url();
}

.work-div h2{
  padding-top: 140px;
  display: flex;
  justify-content: space-around  ;
  font-family: 'roboitalig';
}
.work-montz {
  display: flex;
  justify-content: space-around ;
  padding-top: 50px;
}

.work-montz a {
  font-size: 26px;
  font-weight: 100;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
  background-color: #8db932;
  padding: 10px 46px;
  transition-duration: 0.5s;
  font-family: 'robo';
}
#slider { 
  position: relative;
text-align: center;
  top: 10px;
}

#slider{
margin: 0 auto;
}

#slides article{ 
width: 20%;
float: left;
}

#slides .image{ 
width: 500%;
line-height: 0;
}

#overflow{ 
width: 100%;
overflow: hidden;
}

article img{ 
width: 100%;
border-radius: 20px;
}

#desktop:checked ~ #slider{ 
max-width: 360px; 
}


#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
background: url('../FotoLogo/icnNova/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
float: left;
margin: 0 0 0 -84px; 
display: block;
height: 68px;
width: 68px;
}

#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
background: url('../FotoLogo/icnNova/next.png') no-repeat; /*заливка фона картинкой без повторений*/
float: right;
margin: 0 -84px 0 0; 
display: block;
height: 68px;
width: 68px;
}

label, a{ 
cursor: pointer;
}

.all input{ 
display: none;
}


#switch1:checked ~ #slides .image{
margin-left: 0;
}

#switch2:checked ~ #slides .image{
margin-left: -100%;
}

#switch3:checked ~ #slides .image{
margin-left: -200%;
}

#switch4:checked ~ #slides .image{
margin-left: -300%;
}

#switch5:checked ~ #slides .image{
margin-left: -400%;
}

#controls{ 
margin: -25% 0 0 0;
width: 100%;
height: 50px;
}

#active label{ 
border-radius: 10px; 
display: inline-block; 
width: 15px;
height: 15px;
background: #bbb;
}

#active{ 
margin: 23% 0 0;
text-align: center;
}

#active label:hover{ 
background: #76c8ff;
border-color: #777 !important; 
}


#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
background: #18a3dd;
border-color: #18a3dd !important;
}

#slides .image{ 
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ 
opacity: 0.6;
}

#controls label{ 
transition: opacity 0.2s ease-out;
}
.questions {
  height: 653px;
  background: url(../FotoLogo/foto_lg/back_img_2.png) no-repeat ;
  object-fit: cover;
  display: block;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.quest-one details {
  color: #000000;
  
}
.quest-one-big {
  display:flex;
  justify-content: center;
  flex-direction:column;
  align-items:center;
  width:500px;
  padding: 60px;
}
.quest-one-big h2 {
  font-weight: 100;
  font-size: 23px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'robo';
  padding-left: 70px;
  padding-bottom: 20px;
}
.quest-one summary {
  color: black ;
  text-decoration: underline;
  border-radius: 10px;
  padding: 10px;
  background: #FFFFFF;
  width: 560px;
  margin-top: 10px;
  font-family: 'robo';
  box-shadow: 0px 2px 8px rgba(8, 35, 48, 0.24);
  border-radius: 10px;

}
.futer {
  height: 700px;
  background: url(../FotoLogo/foto_lg/back_img_5.png) no-repeat ;
  object-fit: cover;
  display: block;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.futer-one {
  display: flex;
  flex-direction: row;
}
.futer h2 {
  font-weight: 100;
  font-size: 33px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'ptsan';
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.futer_comens {
  width: 160px;
  height: 315px;
  background-image: url(../FotoLogo/foto_div/comens.pdf) ;
  margin-right: 30px;
  margin-left: 50px;
  
  
}
.futer_comens2 {
  width: 170px;
  height: 325px;
  background-image: url(../FotoLogo/foto_div/comens2.pdf) ;
  margin-top: 20px;
  
}
.div_arrow {
  height: 30px;
  width: 35px;
  background-image: url(../FotoLogo/icn16/arrow-right.pdf);
  margin-left: 40px;
  margin-top: 150px;

}
.futer-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly ;
  height: 256px;
  background-color:#162252;
}
.futer-two1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
  font-size: 50px;
  font-family: 'roboita';
}
.futer-two1 span {
  color: #8db932;
}
.futer-two2 a{
  /* text-decoration: none; */
  color: #FFFFFF;
  font-size: 16px;
  transition-duration: 0.6s;
}
.futer-two2 li {
  list-style: none;
}
.futer-two3 {
  display: flex;
  flex-direction: column;

}
.futer-mail {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  color: #FFFFFF;
}
.futer-phone {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  color: #FFFFFF;
}
.futer-time {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  color: #FFFFFF; 
}
.futer-mail-icon {
  height: 16px;
  width: 20px;
  margin-right: 10px;

}
.futer-time-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.futer-phone-icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;

}
.futer-icon {
  display: flex;
  flex-direction: row;
}
.futer-icon1img {
  height: 25px;
  width: 25px;
  border-radius: 6px;
  margin-left: 15px;
  margin-top: 10px;

}
@media (max-width:1020px)  {
  .nav {
    display: none;
  }
  .standart-div1 {
    width: 900px;
  }
  .ProcesP1 {
    font-size: 12px;
    padding: 10px 10px;
  }
  .ProcesP2 {
    font-size: 12px;
    padding: 10px 10px;
  }
  .Proces__list {
    font-size: 12px;
    padding: 10px 10px;
  }
  

}
@media (max-width:920px) {
  .home{
    display: flex;
    flex-direction: column;
  }
  .home_two {
    display: flex;
    flex-wrap:wrap ;
  }
  .home_one {
    display: flex;
    flex-direction: column;
  }
  .WR {
    display: flex;
    flex-direction: column;
  }
  .WR-two {
    display: flex;
    flex-wrap: wrap;
  }
  .ProcesP1 {
    font-size: 12px;
    padding: 10px 10px;
  }
  .ProcesP2 {
    font-size: 12px;
    padding: 10px 10px;
  }
  .Proces__list {
    font-size: 12px;
    padding: 10px 10px;
  }
  
  .ZTgo {
    height: 2300px;
    background-color: #f0f8fd;
    object-fit: cover;
    display: block;
    background-size: cover;

  }
  .ZT-BIG {
    display: flex;
    flex-wrap: wrap;
    
  }
  .ZT-small {
    margin-top: 50px;
  }
  .work-montz {
    margin-bottom: 20px;
  }
}
@media (max-width:890px) {
  .standart-div1 {
    width: 700px;
    
  }
  .standart {
    height: 400px;
  }
  .standart-div1 h3 {
    font-size: 12px;
  }
}
@media (max-width:810px) {
  .bar-info-communications {
    display: flex;
    font-size: 11px;
  }
  .bar-info a {
    
  }
}
@media (max-width:720px) {
  .nav {
    display:block  ;
  }
  .button button-toggle {
    display: none;
  }
  
}
@media (max-width:720px) {
  .header {
    height: 1200px;
  }
  .bar-info {
    display: none;
  }
  .home{
    display: flex;
    flex-direction: column;
  }
  .home_two {
    display: flex;
    /* flex-direction: column; */
    flex-wrap:wrap ;
  }
  .logo {
    display: flex;
  }
  .bar-info {
    visibility: hidden;
  }
  .home_one {
    display: flex;
    flex-direction: column;
  }
  .ZTgo {
    height: 2400px;
    background-color: #f0f8fd;

  }
  .ZT-BIG {
    display: flex;
    flex-wrap: wrap;
    
  }
  .ZT-small {
    margin-top: 50px;
    height: 600px 
  }
  .standart {
    height: 670px;
  }
  .standart-div1 {
    height: 612px;
    width: 342px;
    
    border: 1px solid;
  }
  .standart-divB {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 13px;
  }
  .standart-div1 h2 {
    margin-top: 20px;
  }
  
  .Proces {
    display: flex;
    flex-direction: column;
  }
  .Proces-img {
    display: block;
    margin-left: 0;
  }
  .procesgo {
    height: 400px;
    background-color: #162252;
  }
  .Proces-Con {
    display: flex;
    flex-direction: column;
  }
  
}
@media (max-width:620px) {
  
  .ZTgo {
    height: 6500px;
    background-color: #f0f8fd;
    align-items: center;
    object-fit: cover;
    display: block;
    background-size: cover;

  }
  .logo {
    display: flex;
    align-items: center;
    
  }
  
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
  background: url('../FotoLogo/icnNova/next.png') no-repeat; /*заливка фона картинкой без повторений*/
  float: right;
  margin: 100px -0px -40px 0; 
  display: block;
  height: 68px;
  width: 68px;
  }
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
  background: url('../FotoLogo/icnNova/prev.png') no-repeat; /*заливка фона картинкой без повторений*/
  float: left;
  margin: 100px 0px -40px -0px; 
  display: block;
  height: 68px;
  width: 68px;
}
  .futer_comens2 {
    display: none;
    visibility: hidden ;
  }
  .standart-div1 {
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .standart-div1 h3 {
    font-size: 12px;
  }
}
@media (max-width:580px) {
  .header {
    height: 1600px;
  }
}
@media (max-width:520px) {
  .header {
    height: 1700px;
  }
  .futer-two {
    height: 400px;
    display: flex;
    flex-direction: column;
  }
  .quest-one summary{
    width: 400px;
  }
}
@media (max-width:490px) {
  .ZTgo {
    height: 7000px;
    background-color: #f0f8fd;
    align-items: center;
    object-fit: cover;
    display: block;
    background-size: cover;

  }
  .header {
    height: 1700px;
  }
}
@media (max-width:420px) {
  .ZTgo {
    height: 7500px;
    background-color: #f0f8fd;
    align-items: center;
    object-fit: cover;
    display: block;
    background-size: cover;

  }
}